<template>
	<view class="content">
		
		<!-- 顶部搜索 -->
		<view class="search-content">
			<view>
				<view>
					<text class="iconfont icon-sousuo"></text>
					<input class="search-input" type="text" placeholder="搜索" />
				</view>
				<text class="iconfont icon-scan"></text>
			</view>
			<text class="iconfont icon-xiaoxi"></text>
		</view>
		
		<!-- 头部菜单 -->
		<view class="menu">
			<view v-for="(item,index) in menulist" :key="item" class="menu-item"
				:class="checkedNum===index? 'checked':''" @click="changeMenu(index)">
				<text class="menu-item-text">{{item}}</text>
				<view class="menu-item-buttom" :class="checkedNum===index? '':'hide'"></view>
			</view>
		</view>
		
		<!-- 左右滑动内容主体区域 -->
		<swiper 
		:current="checkedNum" 
		@change="changeSwiper" 
		:touchable="false"
		class="swiper-main"
		:style="`height: ${heightData}px`">	
			<!-- 菜单1内容 -->
			<swiper-item class="swiper-item" >		
				<view class="swiper-item-main-0">
					<!-- banner图 -->
					<swiper 
					:autoplay="true" 
					:interval="3000" 
					:circular="true"
					class="banner-swiper">
						<swiper-item  v-for="(item,index) in bannerList" :key="index">
							<view class="banner-swiper-item">
								<image :src="item" class="banner-image"></image>
							</view>
						</swiper-item>
					</swiper>
					
					<!-- 菜单1标题1 新上好课 -->
					<view class="main-title">
						<text class="main-title-l">新上好课</text>
						<text class="main-title-r">查看更多</text>
					</view>
					<!-- 课程列表 新上好课 -->
					<view v-for="(item,index) in mainData.arr.slice(0,3)" :key="index" class="swiper-item-list-column">
						<image :src="item.url" class="swiper-item-list-column-img"></image>
						<view  class="swiper-item-list-column-msg">
							<text class="swiper-item-list-column-name">{{ item.name }}</text>
							<text class="swiper-item-list-column-level">{{ item.level }}课程</text>
							<view class="swiper-item-list-column-bottom"> 
								<text class="swiper-item-list-column-price">限时优惠  ￥{{ Math.trunc(item.price) }}</text>
								<text class="swiper-item-list-column-peolpe">{{ item.people/1000 }}w人学习</text>
							</view>
						</view>
					</view>
					<!-- 菜单1标题2 推荐好课 -->
					<view class="main-title">
						<text class="main-title-l">推荐好课</text>
						<text class="main-title-r">查看更多</text>
					</view>
					<!-- 课程列表 推荐好课 -->
					<scroll-view scroll-x="true"  class="swiper-item-list-row">
						<view v-for="(item,index) in mainData.arr" class="swiper-item-list-row-item">
							<img :src="item.url" class="swiper-item-list-row-img">
							<view class="swiper-item-list-row-msg">
								<text>{{item.level}}·{{ item.join_num }}报名</text>
								<view class="swiper-item-list-row-msg-price">
									<text class="swiper-item-list-row-msg-price-l">￥{{Math.trunc(item.price*0.8)}}</text>
									<text class="swiper-item-list-row-msg-price-r">￥{{Math.trunc(item.price)}}</text>
								</view>
								<text class="swiper-item-list-row-msg-buttom">限时优惠</text>
							</view>
						</view>
					</scroll-view>
				</view>
			</swiper-item>
			
			<!-- 菜单2内容 -->
			<swiper-item class="swiper-item" >
				<view class="swiper-item-main-1">
					<view v-for="(item,index) in mainData.arr" :key="index" class="swiper-item-list-column">
						<image :src="item.url" class="swiper-item-list-column-img"></image>
						<view  class="swiper-item-list-column-msg">
							<text class="swiper-item-list-column-name">{{ item.name }}</text>
							<text class="swiper-item-list-column-level">{{ item.level }}课程</text>
							<view class="swiper-item-list-column-bottom"> 
								<text class="swiper-item-list-column-price">限时免费  ￥{{ 0 }}</text>
								<text class="swiper-item-list-column-peolpe">{{ item.people/1000 }}w人学习</text>
							</view>
						</view>
					</view>
				</view>
			</swiper-item>
			
			<!-- 菜单3内容 -->
			<swiper-item class="swiper-item" >
				<view class="swiper-item-main-2">
					<view v-for="(item,index) in mainData.arr" :key="index" class="swiper-item-list-column">
						<image :src="item.url" class="swiper-item-list-column-img"></image>
						<view  class="swiper-item-list-column-msg">
							<text class="swiper-item-list-column-name">{{ item.name }}</text>
							<text class="swiper-item-list-column-level">{{ item.level }}课程</text>
							<view class="swiper-item-list-column-bottom"> 
								<text class="swiper-item-list-column-price">限时优惠  ￥{{ Math.trunc(item.price) }}</text>
								<text class="swiper-item-list-column-peolpe">{{ item.people/1000 }}w人学习</text>
							</view>
						</view>
					</view>
				</view>
			</swiper-item>
		</swiper>
	
	</view>
</template>

<script setup>
	import {ref,reactive,watch, onMounted,getCurrentInstance} from 'vue'
	import {onLoad} from '@dcloudio/uni-app'
	
	// 菜单列表
	const menulist = reactive(['今日推荐', '免费课程', '实战课程'])
	// 选中菜单的数组下标值
	let checkedNum = ref(0)
	
	// banner图 列表
	const bannerList = reactive([
		'../../static/photo/bg/js1.png',
		'../../static/photo/bg/python-img.png',
		'../../static/photo/bg/js3.png'
		])
	
	// 首页数据 
	const mainData = reactive({
		arr:[{
		"join_num": 16,
		"level": "零基础",
		"name": "晋级JavaScript高手，成为热门项目高手",
		"people": 250000,
		"price": "999.00",
		"url": "../../static/photo/bg/js3.png"
	}, {
		"join_num": 6,
		"level": "初级",
		"name": "晋级Python高手，成为热门项目高手",
		"people": 500000,
		"price": "1999.00",
		"url": "../../static/photo/bg/python-img.png"
	}, {
		"join_num": 88,
		"level": "高级",
		"name": "晋级JavaScript高手，成为热门项目高手",
		"people": 100000,
		"price": "2999.00",
		"url": "../../static/photo/bg/js1.png"
	}, {
		"join_num": 77,
		"level": "零基础",
		"name": "晋级JavaScript高手，成为热门项目高手",
		"people": 700000,
		"price": "888.00",
		"url": "../../static/photo/bg/js2.png"
	}, {
		"join_num": 21,
		"level": "零基础",
		"name": "晋级JavaScript高手，成为热门项目高手",
		"people": 800000,
		"price": "777.00",
		"url": "../../static/photo/bg/js1.png"
	}, {
		"join_num": 65,
		"level": "零基础",
		"name": "晋级Python高手，成为热门项目高手",
		"people": 560000,
		"price": "666.00",
		"url": "../../static/photo/bg/python-img.png"
	}, {
		"join_num": 87,
		"level": "中级",
		"name": "晋级JavaScript高手，成为热门项目高手",
		"people": 320000,
		"price": "799.00",
		"url": "../../static/photo/bg/js2.png"
	}, {
		"join_num": 16,
		"level": "零基础",
		"name": "晋级JavaScript高手，成为热门项目高手",
		"people": 1000000,
		"price": "899.00",
		"url": "../../static/photo/bg/js3.png"
	}, {
		"join_num": 11,
		"level": "高级",
		"name": "晋级JavaScript高手，成为热门项目高手",
		"people": 200000,
		"price": "2899.00",
		"url": "../../static/photo/bg/js1.png"
	}, {
		"join_num": 72,
		"level": "初级",
		"name": "晋级JavaScript高手，成为热门项目高手",
		"people": 100000,
		"price": "5999.00",
		"url": "../../static/photo/bg/js2.png"
	}]
		})
	// 菜单切换 修改选中值 checkedNum
	const changeMenu = (index) => {
		checkedNum.value = index
	}
	// swiper切换 修改选中值 checkedNum
	const changeSwiper = (e) => {
		checkedNum.value = e.detail.current
	}

	// 
	let _this = getCurrentInstance()
	// swiper高度值
	let heightData = ref(null)
	// 设置swiper高度
	const setSwiperHeight = ()=>{
		let query = uni.createSelectorQuery().in(_this)
		let classStr = `.swiper-item-main-${checkedNum.value }`
		query.selectAll(classStr).boundingClientRect(data=>{
			if( data[0]){
				heightData.value = data[0].height
			}
		}).exec();
		
	}
	
	
	onMounted(()=>{
		setSwiperHeight()
	})
		// await uni.request({
		// 	url:'http://192.168.0.102:8000/lesson/info',
		// 	data:null,
		// 	header:null,
		// 	success:(res)=>{
		// 		mainData.arr = res.data.data
		// 		console.log(mainData.arr)
		// 		// let a = checkedNum.val
		// 		// checkedNum.value = a===0? 1:0
		// 		// checkedNum.value = a
		// 		setTimeout(()=>{
		// 			setSwiperHeight()
		// 		},1)
				
		// 	},
		// 	fail:(err)=>{
		// 		console.log(err)
		// 	}
		// })
	// })
	// 侦听菜单下标值 变化修改swiper高度
	watch(checkedNum, () => {
		setSwiperHeight()
	})
	
	
</script>

<style scoped lang="scss">
	.mybox{
		width: 100%;
		height: 300rpx;
		background-color: #7cb489;
		margin-bottom: 10rpx;
	}
	
	.content {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;
		padding: 0 20rpx;
	}
	.hide {
		display: none;
	}
	.search-content{
		margin-top: 20rpx;
		width: 100%;
		height: 30px;
		font-size: 25rpx;
		display: flex;
		align-items: center;
		justify-content: space-between;
		>text{
			font-size: 30rpx;
		}
		>view{
			width: 92%;
			display: flex;
			align-items: center;
			justify-content: space-between;
			border-radius: 10rpx;
			height: 100%;
			background-color: #dfdfdf;
			padding: 0 5px;
			
			>view{
				width: 100%;
				display: flex;
				justify-content: start;
				align-items: center;
				// flex-grow: 2;
			}
		}
	}
	.search-input{
		height: 24px;
		width: 100%;
		// background-color: #fff;
		margin: 0 10rpx;
	}
	.menu {
		width: 100%;
		font-size: 35rpx;
		// font-weight: 50rpx;
		padding: 0 20rpx;
		display: flex;
		justify-content: start;
		align-items: center;
		margin: 30rpx 0 30rpx 0;
	}
	.checked {
		font-weight: bolder;
	}

	.menu-item {
		position: relative;
		margin-right: 20rpx;
		.menu-item-buttom {
			position: absolute;
			bottom: -5rpx;
			left: 25%;
			width: 50%;
			height: 5rpx;
			background-color: lightsteelblue;
		}
	}
	
	
	.swiper-main{
		width: 100%;
		// margin-top: 20rpx;
	}
	.swiper-item{
		width: 100%;
	}
	.swiper-item-main-1{
		width: 100%;
	
	}
	// swiper首页 banner样式
	.banner-swiper{
		width: 100%;
		height: 350rpx;
		.banner-swiper-item{
			width: 100%;
			height: 100%;
			.banner-image{
				width: 100%;
				height: 100%;
			}
		}
	}
	// swiper首页 主体菜单 标题样式
	.main-title{
		// margin-bottom: 20rpx;
		margin: 25rpx 0;
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		.main-title-l{
			font-size: 35rpx;
			font-weight: bolder;
		}
		.main-title-r{
			font-size: 30rpx;
			color: #b4b4b4;
		}
	}
	// swiper首页 课程竖列表
	.swiper-item-list-column{
		width: 100%;
		height: 180rpx;
		display: flex;
		// justify-content: space-;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 20rpx;
	}
	.swiper-item-list-column-img{
		width: 40%;
		height: 100%;
		overflow: hidden;
		border-radius: 5rpx;
	}
	.swiper-item-list-column-msg{
		width: 57%;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: start;
		padding: 5rpx 0;
	}
	.swiper-item-list-column-name{
		font-size: 30rpx;
		font-weight: bolder;
	}
	.swiper-item-list-column-level{
		color:#cccccc;
		font-size: 20rpx;
	}
	.swiper-item-list-column-bottom{
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		.swiper-item-list-column-price{
			font-weight: bold;
			color: red;
		}
		.swiper-item-list-column-peolpe{
			font-size: 18rpx;
			color: #cccccc;
		}
	}
	
	
			
	.swiper-item-list-row{		
		width: 100%;
		height: auto;
		white-space: nowrap;
	}
	.swiper-item-list-row-item{
		width: 30%;
		display: inline-block;
		margin-right: 15rpx;
		font-size: 25rpx;
		.swiper-item-list-row-img{
			width: 100%;
			height: 180rpx;
			border-radius: 5rpx 5rpx 0 0;
		}
	}
	.swiper-item-list-row-msg{
		width: 100%;
		color: #b4b4b4;
		padding: 0 20rpx;
		>view{
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
		
	}
	.swiper-item-list-row-msg-price{
		
	}
	.swiper-item-list-row-msg-price-l{
		color: red;
	}
	.swiper-item-list-row-msg-price-r{
		// font-style: ;
		text-decoration: line-through;
		font-size: 18rpx;
	}
	.swiper-item-list-row-msg-buttom{
		color: red;
		font-size: 18rpx;
	}
	
	.swiper-item-main-2{
		
	}

</style>