<template>
	<view class="content">
		<!-- <view></view> -->
		<image src="../../static/nodata.PNG"></image>
		<text>暂无相关内容</text>
		<button type="default">去看课程</button>
	</view>
</template>

<script setup>
	

</script>

<style scoped lang="scss">
	.content{
		display: flex;
		justify-content: center;
		align-items: center;
		min-height: 100vh;
		flex-direction: column;
		>image{
			width: 350rpx;
			height: 350rpx;
		}
		>text{
			color: #c2c2c2;
			margin: 50rpx 0;
		}
		>button{
			margin-top: 40rpx;
			padding: 0 10rpx;
			font-size: 25rpx;
			height: 50rpx;
			line-height: 50rpx;
			background-color: #1e5aff;
			color:white
		}
	}
	
</style>