<script>
	export default {
		onLaunch: function() {
			console.log('App Launch')
		},
		onShow: function() {
			console.log('App Show')
		},
		onHide: function() {
			console.log('App Hide')
		}
	}
</script>

<style>
	/* 自定义icon */
	@import "./static/icon/iconfont.css";
	/*每个页面公共css */
	body,view,text,button{
		margin: 0;
		padding: 0;
		border: 0;
		box-sizing: border-box;
	}
</style>
