<template>
	<view class="content">
		<view class="title">
			<image src="../../static/profile photo1.jpeg" mode=""></image><text>广学</text>
		</view>
		<view class="wx-logo">
			<image src="../../static/wx-logo.jpg" mode=""></image>
			<text>使用微信快捷登录，无需注册，更快捷，更方便。</text>
			<button type="default" @click="login">立即登录</button>
		</view>
		
		<text class="agreement">登录即表示同意广学 <text class="agreement-button">《用户协议》</text></text>
		
	</view>
</template>

<script setup>
	import { reactive} from 'vue'
	import { onShow} from "@dcloudio/uni-app"
	const login = ()=>{
		console.log('login')
		let status = wx.canIUse('wx.setStorageSync')
		let status1 = wx.canIUse('wx.login')
		console.log(status)
		console.log(status1)
		// wx.login({
		// 	fail(err){
		// 		console.log('err',err)
		// 	},
		// 	success(res) {
		// 		console.log('scuccess',res)
		// 	}
		// })
	}
	// onShow(()={
	// 	login()
	// })
	
</script>

<style scoped lang="scss">
	.content{
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
		width: 100%;
		height: 100vh;
	}
	.title{
		display: flex;
		justify-content: center;
		align-items: center;
		// margin-bottom: 100rpx;
		>image{
			width: 50rpx;
			height: 50rpx;
			border-radius: 50%;
			margin-right: 20rpx;
		}
	}
	.wx-logo{
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		font-size: 25rpx;
		>image{
			width: 400rpx;
			height: 340rpx;
		}
		>text{
			margin: 20rpx 0;
		}
		>button{
			background-color: #fff;
			border: 0;
			padding: 0 10rpx;
			// outline-offset: 0;
			color: #0055ff;
			font-size: 30rpx;
			height: 60rpx;
		}
	}
	.agreement{
		font-size: 25rpx;
		.agreement-button{
			color: #0055ff;
		}
	}
</style>