<template>
	<view class="content">
		<view class="top">
			<image src="../../static/profile photo1.jpeg"></image>
			<text>Name</text>
		</view>
		<view class="label">
			<!-- <uni-icons type=""></uni-icons> -->
			<text class="iconfont icon-xiaoxi"></text>
			<view>
				<text>设置</text>
				<text class="iconfont icon-scan"></text>
			</view>
		</view>
		<view class="label">
			<!-- <uni-icons type=""></uni-icons> -->
			<text class="iconfont icon-xiaoxi"></text>
			<view>
				<text>个人资料</text>
				<text class="iconfont icon-scan"></text>
			</view>
		</view>
		<view class="label">
			<!-- <uni-icons type=""></uni-icons> -->
			<text class="iconfont icon-xiaoxi"></text>
			<view>
				<text>钱包</text>
				<text class="iconfont icon-scan"></text>
			</view>
		</view>
		<view class="label">
			<!-- <uni-icons type=""></uni-icons> -->
			<text class="iconfont icon-xiaoxi"></text>
			<view>
				<text>待定</text>
				<text class="iconfont icon-scan"></text>
			</view>
		</view>
		<!-- <view class="main">
			<text>地址：广州市</text>
			<text>电话：13212341234</text>
			<text>邮箱：广州市</text>
			<text>地址：广州市</text>
		</view> -->
	</view>
</template>

<script >
	// let status = wx.canIUse('wx.setStorageSync')
	// let status1 = wx.canIUse('wx.login')
</script>

<style scoped lang="scss">
	.content {
		background-color: #efefef;
		height: 100vh;
	}
	.top{
		width: 100%;
		padding: 8px 0;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		background-color: #fff;
		>image{
			width: 47px;
			height: 47px;
			border-radius: 50%;
			margin: 0 8px 0 10px;
		}
		>text{
			font-size: 30rpx;
			font-weight: bold;
		}
	}
	.label{
		background-color: #fff;
		margin-top: 3px;
		width: 100%;
		height: 30px;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		>text{
			width: 20px;
			height: 20px;
			margin: 0 10px 0 5px;
		}
		>view{
			width: 100%;
			height: 100%;
			// border-bottom: 1px solid #efefef;
			padding: 0 15px 0  0;
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
	}

</style>
