@font-face {
  font-family: "iconfont"; /* Project id 4351272 */
  src: url('iconfont.woff2?t=1701240364186') format('woff2'),
       url('iconfont.woff?t=1701240364186') format('woff'),
       url('iconfont.ttf?t=1701240364186') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-my:before {
  content: "\e608";
}

.icon-xiaoxi:before {
  content: "\e7a8";
}

.icon-shouye:before {
  content: "\e62e";
}

.icon-sousuo:before {
  content: "\e632";
}

.icon-My:before {
  content: "\e615";
}

.icon-grouping:before {
  content: "\e62a";
}

.icon-scan:before {
  content: "\e62b";
}

.icon-xuexi:before {
  content: "\e61c";
}

